
    <div class='row'>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="inputQuery">Search :</label>

                <div class="controls">
                    <input ng-model="query" id="inputQuery" type="text" autofocus="autofocus" class="input-medium search-query"/>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <h3>Wednesday 27th March</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Room</th>
                <th>Talk</th>
                <th>Speaker</th>
            </tr>
            <tr ng-repeat="event in dayone | filter:query">
                <td>{{event.fromHour}}</td>
                <td>{{event.toHour}}</td>
                <td>{{event.room}}</td>
                <td><a href="#/talks/{{event.presentationId}}">{{event.title}}</a></td>
                <td><a href="#/speakers/{{event.speakerId}}">{{event.speaker}}</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <h3>Thursday 28th March</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Room</th>
                <th>Talk</th>
                <th>Speaker</th>
            </tr>
            <tr ng-repeat="event in daytwo | filter:query">
                <td>{{event.fromHour}}</td>
                <td>{{event.toHour}}</td>
                <td>{{event.room}}</td>
                <td><a href="#/talks/{{event.presentationId}}">{{event.title}}</a></td>
                <td><a href="#/speakers/{{event.speakerId}}">{{event.speaker}}</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <h3>Friday 29th March</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Room</th>
                <th>Talk</th>
                <th>Speaker</th>
            </tr>
            <tr ng-repeat="event in daythree | filter:query">
                <td>{{event.fromHour}}</td>
                <td>{{event.toHour}}</td>
                <td>{{event.room}}</td>
                <td><a href="#/talks/{{event.presentationId}}">{{event.title}}</a></td>
                <td><a href="#/speakers/{{event.speakerId}}">{{event.speaker}}</a></td>
            </tr>
        </table>
    </div>